[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name = "{{ cookiecutter.project_name }}"
description = "{{ cookiecutter.project_description }}"
version = "0.1.0"
license = "{{ cookiecutter.license|upper }}"

authors = []

readme = "README.md"

repository = "https://github.com/{{ cookiecutter.organization }}/{{ cookiecutter.project_name }}"

[tool.poetry.dependencies]
python = "^3.10"
poetry = "^1"
autodonate = "^0.1.1"

# Our dependecies
Django = "^4.0"

# Docs
sphinx                   = { version = "^4.5",  optional = true }
sphinx-autodoc-typehints = { version = "^1.18", optional = true }
sphinxcontrib-apidoc     = { version = "^0.3",  optional = true }
furo                     = { version = "*",     optional = true }
m2r2                     = { version = "^0.3",  optional = true }
tomlkit                  = { version = "^0.10", optional = true }
toml                     = { version = "^0.10", optional = true }

[tool.poetry.dev-dependencies]
black = "22.1.0"
# Fix for black 22.1.0 (remove later)
click = "8.0.4"
isort = "^5.10"
doc8 = "^0.11"
pre-commit = "^2.18"
mypy = "0.942"
flake8 = "^4"
flake8-docstrings = "^1"
pydocstyle = ">=4.0.0"

safety = "^1.10"

pytest = "^7.1"
pytest-cov = "^3.0"
pytest-randomly = "^3.11"
pytest-django = "^4.5"

[tool.poetry.extras]
docs = ["sphinx", "sphinx-autodoc-typehints", "sphinxcontrib-apidoc", "furo", "m2r2", "tomlkit", "toml"]

[tool.black]
line-length = 120
target-version = ['py310']
