version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
    time: "00:00"
  ignore:
    - dependency-name: "*"
      update-types: [ "version-update:semver-patch" ]

- package-ecosystem: pip
  directory: "/{{ cookiecutter.project_name }}"
  schedule:
    interval: daily
    time: "00:00"
  ignore:
    - dependency-name: "*"
      update-types: [ "version-update:semver-patch" ]

    - dependency-name: "flake8"
      update-types: [ "version-update:semver-minor" ]
    - dependency-name: "flake8-docstrings"
      update-types: [ "version-update:semver-minor" ]
    - dependency-name: "python-decouple"
      update-types: [ "version-update:semver-minor" ]

    - dependency-name: "pydocstyle"
    - dependency-name: "colorama"

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "00:00"
