# This file is used to setup env
# to generate documentation.

sphinx>=4.5.0,<4.6.0
sphinx-autodoc-typehints>=1.17.0,<1.18.0
sphinxcontrib-apidoc>=0.3.0,<0.4.0
furo
m2r2>=0.3.0,<0.4.0
tomlkit>=0.10.0,<0.11.0
toml>=0.10,<0.11.0

# Dependencies of our project:
Django>=4.0,<4.1.0
